Django==4.2.5
python-dotenv
psycopg2-binary
gunicorn
django-htmlmin
django-cors-headers
django-widget-tweaks
djangorestframework
stripe
plaid-python
asgiref==3.7.2
beautifulsoup4==4.12.2
django-htmlmin==0.11.0
html5lib==1.1
minify_html==0.11.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
webencodings==0.5.1
Pillow
whitenoise
sendgrid==6.9.7
python-http-client==3.3.7
starkbank-ecdsa==2.2.0