{% extends "components/base.html" %}
{% block content %}
  <h2>KYC Status</h2>

  {% if submission %}
    <p><strong>Status:</strong> {{ submission.status|title }}</p>
    {% if submission.notes %}
      <p><strong>Notes:</strong> {{ submission.notes }}</p>
    {% endif %}
    <p><strong>Submitted:</strong> {{ submission.submitted_at }}</p>

    <div class="row">
      <div class="col-md-6">
        <h5>ID Document</h5>
        {% if submission.id_document %}
          <img src="{{ submission.id_document.url }}" width="100%" class="img-thumbnail">
        {% else %}
          <p>Not uploaded.</p>
        {% endif %}
      </div>

      <div class="col-md-6">
        <h5>Selfie</h5>
        {% if submission.selfie %}
          <img src="{{ submission.selfie.url }}" width="100%" class="img-thumbnail">
        {% else %}
          <p>Not uploaded.</p>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p>No KYC submission found for this account.</p>
  {% endif %}
{% endblock %}
