{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between my-4 page-header-breadcrumb">
        <div>
            <h4 class="fw-semibold mb-0">Invested Projects</h4>
            <span class="text-muted">Projects you have already invested in.</span>
        </div>
    </div>

    <div class="card custom-card">
        <div class="card-body">
            <p>This section will show a table of your invested projects.</p>
        </div>
    </div>
</div>
{% endblock %}
