{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between my-4 page-header-breadcrumb">
        <div>
            <h4 class="fw-semibold mb-0">Investment Payments</h4>
            <span class="text-muted">All payments related to your investments.</span>
        </div>
    </div>

    <div class="card custom-card">
        <div class="card-body">
            <p>This will show Stripe/Plaid payment records, receipts, and statuses.</p>
        </div>
    </div>
</div>
{% endblock %}
